.footer {
    min-height: 100px;
    position: relative;
    left: 0;
    bottom: -100px;
    width: 100%;
    background-color: #225c5e;
    color: white;
    text-align: center;
}

.footer #logo {
  width: 100px;
  padding-top: 10px;
}
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background-color: #2d5959;
    filter: brightness(75%);
    font-family: "Roboto, sans-serif";
  }