#j-container {
    background-image: url("https://images.wallpaperscraft.com/image/bonfire_fire_camping_121785_2560x1080.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

#jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    width: 60%;
    box-shadow: none !important;
}

.makeStyles-root-113 {
    width: 90%;
    padding: 5px 20px 10px 20px;
    height: 50px !important;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    margin-bottom: 100px;
}

.MuiFormLabel-root {
    color: white;
}

input#react-autosuggest-simple {
    color: white !important;
}
label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
    color: white;
}

.MuiInput-underline:before {
    border-bottom: 2px solid #9D2F17 !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #9D2F17 !important;
}

.makeStyles-suggestionsContainerOpen-114 {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12) !important;
}

#jumbotron img#logo {
    max-width: 300px;
    padding: 50px 0 30px 0;
}
 /* .MuiLinearProgress-colorSecondary {
    background-color: rgb(0, 0, 0) !important;
} */

.MuiLinearProgress-barColorSecondary {
    background-color: rgb(198, 61, 30) !important;
} 